---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content';


export async function getStaticPaths({ paginate }){
	const posts = await getCollection('blog');
	const sortedPosts = posts.sort((a,b) => (b.data.pubDate.getTime() - a.data.pubDate.getTime()));
	return paginate(sortedPosts, { pageSize: 3 });
}

const { page } = Astro.props;

const prevURL = page.url.prev;
const nextURL = page.url.next;
const currentURL =  page.url.current;

---



<Layout title="Blog Page" description='this is the Blog page description'>
    <section>
        {
            page.data.map((post)=> (

            <p><strong>{post.data.title}</p></strong>
            <p>{post.data.pubDate}</p>
            <br>
            
            <a href={currentURL ==='/blog' ? `blog/${post.slug}` : post.slug}>Read Now</a>
            ))
        }
    </section>
    {prevURL ? <a href={prevURL}>Previous</a> : null}
    {nextURL ? <a href={nextURL}>Next</a> : null}
    
</Layout>




